{% extends "base.html" %}

{% block app_content %}
	<div class="row">
		<div class="col-md-10">
		<table style="width:100%">
			<tr>
				<td><h1>Transaction history for barcode ID: {{ barcode_ID }}</h1></td>
				<td><h2>Address: {{ addr_link }}</h2></td>
            </tr>
		</table>
		<table class="table table-striped" id="transactions">
			<thead>
			<tr>
				<th class="col-md-1">Timestamp</th>
				<th class="col-md-2">Actor Name</th>
				<th class="col-md-1">Transaction Type</th>
            </tr>
			</thead>
			<tbody>
			{% for transaction in transactions %}
			<tr>
				<td>{{ transaction.timestamp }}</td>
				<td>{{ transaction.actor_name }}</td>
				<td>{{ transaction.transaction_type }}</td>
            </tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}